### While Loop Example(s)

In [27]:
import random

i = 0; cnt = 0

while (i < 10):
    rdnum = random.randint(0,100)
    print (rdnum, end = ' ')
    if (rdnum >= 0) and (rdnum <=50):
        cnt += 1
    i += 1
print (f'\nThe total is {cnt:10d}')

59 73 87 73 30 74 49 21 96 36
The total is          4

### For Loop Example(s)

In [39]:
# basic syntax

for num in range(5):
    print (num, end = ' ')

0 1 2 3 4

In [34]:
range(5) # 0, 1, 2, 3, 4

range(0, 5)

In [38]:
lst = list(range(5))
print (lst)

[0, 1, 2, 3, 4]

In [41]:
for i in range(0, 5, 2):
    print (i, end = ' ')

0 2 4

In [42]:
for i in range(10, 21, 2):
    print (i, end = ' ')

10 12 14 16 18 20

In [43]:
for _ in range(5):
    print('loop executed')

loop executed
loop executed
loop executed
loop executed
loop executed

In [44]:
mylst = [10, 5, 20, 25, 30]
for i in mylst:
    print (i)

10
5
20
25
30

### List data type examples

In [48]:
mylst = [10, 20, 30, 40, 50]

mylst[2]

30

In [51]:
for v in mylst:
    print (v, end = ' ')
print()
for i in range(5):
    print (mylst[i], end = ' ')

10 20 30 40 50
10 20 30 40 50

In [56]:
rdnum = [0, 0, 0, 0, 0]
for i in range(5):
    rdnum[i] = random.randint(0, 100) % 100
print (rdnum)

[76, 48, 80, 66, 76]

In [57]:
result = [0] * 10
result[0] = 100
result

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [58]:
result = []
result.append(1)
result

[1]

In [62]:
# Lab 4-2
total = 0
for i in range(5):
    num = int(input())
    total += num
print(total)

22

In [60]:
# Lab 4-3; same as 4-2 w/ while loop
i = 0; total = 0
while(i<5):
    num = int(input(0))
    total += num
    i += 1
print(total)

30

In [65]:
# 4-4
numbers = [0] * 5
total = 0
for i in range(5):
    numbers[i] = int(input())
print(numbers)
# total = sum(numbers)
for v in numbers:
    total += v

print (total)

[4, 5, 6, 4, 2]
21

In [68]:
# lab 4-5
# take a user input until it is valid (>0 <100). Use while loop.

# version 1
num = int(input())
while (num <= 0) or (num >= 100):
    num = int(input("Input invalid, try another value: "))
print(f'Your valid input is: {num}')

Your valid input is: 5

In [74]:
# lab 4-5 version 2

while True:
    num = int(input())
    if 0 < num < 100:
        break
    print(' Invalid: Try again ')
print (num)

 Invalid: Try again
 Invalid: Try again
50

In [75]:
# Lab 4-2 Try-Except
while True:
    try:
        num = int(input())
    except ValueError:
        print('Value Error')
    except IndexError:
        print('Index Error')
    else:
        print(num)
        break

Value Error
Value Error
Value Error
15

In [71]:
num = int(input())

ValueError: invalid literal for int() with base 10: 'dwa'

SyntaxError: cannot assign to True (845637477.py, line 1)